html {
  font-family: sans-serif;
}

body {
    width: 800px;
    margin: 1em auto;
}

img {
  max-width: 100%;
}

.instructions {
    font-weight: bold;
    color: #008080;
}

.instructions a {
    color: #ff5733;
}

#interceptions b {
    color: #ff5733;
}
